.bigbox{
    width: .7rem;
        text-align: center;
        justify-content: space-around;
    img{
        margin-left: .15rem;
        width: .45rem;
    }
    p{
        text-align: center;
        font-size: .1rem;
        margin-bottom: 0;
    }
}
.classify{
    margin-top: -0.3rem;
    padding: 0.1rem;
    background: #ffffff;
    border-radius: .1rem .1rem 0 0;
}