.Specialfestival {
    padding: 0 .1rem;
    margin-bottom: 1rem;
    h3 {
        font-weight: 900;
    }

    .goods {
        ul {
            .gooditem {
                border: 1px solid #cccccc;
                margin: .1rem;
                text-align: center;
                border-radius: .1rem;

                .goodsimg {
                    width: .8rem;
                }

                .title {
                    margin: .05rem 0;
                    max-width: .8rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: .01rem;
                }}}}}